.full-width {
  margin-left: -30px;
  margin-right: -30px;
  box-sizing: border-box;
}
.form {
    margin-top: 40px;
    background: #1E1E1E;
    color: #828282;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.microphone {
    width: 76px;
    height: 76px;
    border-radius: 100px;
    background: #303030;
    color: #fff;
    position:absolute;
    top:0;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.mic-green {
  background: #38CE8B;
}

.microphone i {
    align-self: center;
    font-size: 22px;
}
.message-input {
    color: #828282;
    background: none;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: "Segoe UI Symbol";
}
