<div class="form full-width">
  <a (click)="initiateRecording()" *ngIf="!recording">
    <div class="microphone"><img src="assets/images/microphone-solid.svg" width="17px"></div>
  </a>
  <a (click)="stopRecording()" *ngIf="recording">
    <div class="microphone mic-green"><img src="assets/images/microphone-solid.svg" width="17px"></div>
  </a>
  <input type="text" [(ngModel)]="message.content" class="message-input"
  placeholder="Start typing or saying something..." (keyup.enter)="sendMessage()">
</div>
