.name {
    font-family: Ubuntu;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    line-height: 34px;
    font-weight: 600;
}
.header {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  align-items: center;
  position: relative;
}
.logo {
  width: 34px;
  height: 34px;
  margin-right: 4px;
}
.green {
    color: #38CE8B;
}
body {
    background: #141414;
    color: #FFF;
    font-family: "Segoe UI";
    margin: 0;
}
.name .green {
  font-weight: 400;
  margin-left: 1px;
}
.chat {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
  overflow-y: scroll;
  max-height: 698px;
}
.full-width {
  margin-left: -30px;
  margin-right: -30px;
  box-sizing: border-box;
}
