<div #container class="container">
  <header class="header">
      <img src="assets/images/logo.png" class="logo"> <h1 class="name">Kraków<span class="green">CityBot</span></h1> <div class="bar"></div>
  </header>

  <div class="chat">
    <message-list [messages]="messages"></message-list>
    <message-form #messagelist [message]="message" [messages]="messages"></message-form>
  </div>
</div>
