.message {
  max-width: 80%;
  margin-bottom: 20px;
}
.bot-message {
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: initial;
}
.user-message {
  align-self: flex-end;
  font-size: 24px;
  color: #38ce8b;
}
.user-suggestion {
    color: #38CE8B;
    background: #000;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 100px;
    cursor: pointer;
}
.circle {
    width: 31px;
    height: 31px;
    border-radius: 100px;
    border: 2px solid #38CE8B;
}
message-list {
  display: flex;
  flex-direction: column;
}
